:root {
  --big-caption-bold-font-family: "Inter", Helvetica;
  --big-caption-bold-font-size: 14px;
  --big-caption-bold-font-style: normal;
  --big-caption-bold-font-weight: 700;
  --big-caption-bold-letter-spacing: 0px;
  --big-caption-bold-line-height: 16.25px;
  --big-caption-med-font-family: "Inter", Helvetica;
  --big-caption-med-font-size: 14px;
  --big-caption-med-font-style: normal;
  --big-caption-med-font-weight: 500;
  --big-caption-med-letter-spacing: 0px;
  --big-caption-med-line-height: 16.25px;
  --big-caption-reg-font-family: "Inter", Helvetica;
  --big-caption-reg-font-size: 14px;
  --big-caption-reg-font-style: normal;
  --big-caption-reg-font-weight: 400;
  --big-caption-reg-letter-spacing: 0px;
  --big-caption-reg-line-height: 16.25px;
  --body-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-bold-font-size: 20px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 800;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 25px;
  --body-med-font-family: "Plus Jakarta Sans", Helvetica;
  --body-med-font-size: 20px;
  --body-med-font-style: normal;
  --body-med-font-weight: 500;
  --body-med-letter-spacing: 0px;
  --body-med-line-height: 25px;
  --body-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --body-reg-font-size: 20px;
  --body-reg-font-style: normal;
  --body-reg-font-weight: 400;
  --body-reg-letter-spacing: 0px;
  --body-reg-line-height: 25px;
  --caption-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-bold-font-size: 12px;
  --caption-bold-font-style: normal;
  --caption-bold-font-weight: 800;
  --caption-bold-letter-spacing: 0px;
  --caption-bold-line-height: 15px;
  --caption-med-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-med-font-size: 12px;
  --caption-med-font-style: normal;
  --caption-med-font-weight: 500;
  --caption-med-letter-spacing: 0px;
  --caption-med-line-height: 15px;
  --caption-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --caption-reg-font-size: 12px;
  --caption-reg-font-style: normal;
  --caption-reg-font-weight: 400;
  --caption-reg-letter-spacing: 0px;
  --caption-reg-line-height: 15px;
  --footnote-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --footnote-bold-font-size: 10px;
  --footnote-bold-font-style: normal;
  --footnote-bold-font-weight: 800;
  --footnote-bold-letter-spacing: 0px;
  --footnote-bold-line-height: 12.5px;
  --footnote-med12-5-font-family: "Plus Jakarta Sans", Helvetica;
  --footnote-med12-5-font-size: 10px;
  --footnote-med12-5-font-style: normal;
  --footnote-med12-5-font-weight: 500;
  --footnote-med12-5-letter-spacing: 0px;
  --footnote-med12-5-line-height: 12.5px;
  --footnote-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --footnote-reg-font-size: 11px;
  --footnote-reg-font-style: normal;
  --footnote-reg-font-weight: 400;
  --footnote-reg-letter-spacing: 0px;
  --footnote-reg-line-height: 12.5px;
  --foundation-dangerd100: rgba(253, 144, 134, 1);
  --foundation-dangerd200: rgba(253, 96, 82, 1);
  --foundation-dangerd300: rgba(252, 64, 46, 1);
  --foundation-dangerd400: rgba(176, 45, 32, 1);
  --foundation-dangerd50: rgba(255, 236, 234, 1);
  --foundation-dangerd500: rgba(154, 39, 28, 1);
  --foundation-dangerd75: rgba(254, 177, 169, 1);
  --foundation-infoi100: rgba(109, 208, 247, 1);
  --foundation-infoi200: rgba(47, 188, 244, 1);
  --foundation-infoi300: rgba(4, 174, 242, 1);
  --foundation-infoi400: rgba(3, 122, 169, 1);
  --foundation-infoi50: rgba(230, 247, 254, 1);
  --foundation-infoi500: rgba(2, 106, 148, 1);
  --foundation-infoi75: rgba(152, 222, 250, 1);
  --foundation-neutraln0: rgba(255, 255, 255, 1);
  --foundation-neutraln10: rgba(251, 251, 251, 1);
  --foundation-neutraln100: rgba(139, 139, 139, 1);
  --foundation-neutraln20: rgba(246, 246, 246, 1);
  --foundation-neutraln300: rgba(114, 114, 114, 1);
  --foundation-neutraln40: rgba(227, 227, 227, 1);
  --foundation-neutraln500: rgba(90, 90, 90, 1);
  --foundation-neutraln60: rgba(189, 189, 189, 1);
  --foundation-neutraln700: rgba(65, 65, 65, 1);
  --foundation-neutraln80: rgba(165, 165, 165, 1);
  --foundation-pijar-bluep100: rgba(135, 186, 223, 1);
  --foundation-pijar-bluep200: rgba(83, 156, 209, 1);
  --foundation-pijar-bluep400: rgba(34, 95, 140, 1);
  --foundation-pijar-bluep50: rgba(234, 243, 250, 1);
  --foundation-pijar-bluep500: rgba(29, 83, 122, 1);
  --foundation-pijar-bluep75: rgba(170, 206, 232, 1);
  --foundation-pijar-orangep100: rgba(249, 195, 146, 1);
  --foundation-pijar-orangep200: rgba(247, 169, 99, 1);
  --foundation-pijar-orangep300: rgba(245, 151, 67, 1);
  --foundation-pijar-orangep400: rgba(172, 106, 47, 1);
  --foundation-pijar-orangep50: rgba(254, 245, 236, 1);
  --foundation-pijar-orangep500: rgba(149, 92, 41, 1);
  --foundation-pijar-orangep75: rgba(251, 212, 178, 1);
  --foundation-successs100: rgba(156, 225, 131, 1);
  --foundation-successs200: rgba(114, 212, 78, 1);
  --foundation-successs300: rgba(85, 203, 42, 1);
  --foundation-successs400: rgba(59, 142, 29, 1);
  --foundation-successs50: rgba(238, 250, 234, 1);
  --foundation-successs500: rgba(52, 124, 26, 1);
  --foundation-successs75: rgba(185, 234, 168, 1);
  --foundation-warningw100: rgba(246, 224, 113, 1);
  --foundation-warningw200: rgba(242, 210, 52, 1);
  --foundation-warningw300: rgba(239, 201, 11, 1);
  --foundation-warningw400: rgba(167, 141, 8, 1);
  --foundation-warningw50: rgba(253, 250, 231, 1);
  --foundation-warningw500: rgba(146, 123, 7, 1);
  --foundation-warningw75: rgba(248, 233, 155, 1);
  --foundationneutraln-900: rgba(41, 41, 41, 1);
  --foundationpijar-bluep300: rgba(48, 136, 200, 1);
  --h1-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --h1-bold-font-size: 64px;
  --h1-bold-font-style: normal;
  --h1-bold-font-weight: 800;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: 80px;
  --h1-med-font-family: "Plus Jakarta Sans", Helvetica;
  --h1-med-font-size: 64px;
  --h1-med-font-style: normal;
  --h1-med-font-weight: 500;
  --h1-med-letter-spacing: 0px;
  --h1-med-line-height: 80px;
  --h1-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --h1-reg-font-size: 64px;
  --h1-reg-font-style: normal;
  --h1-reg-font-weight: 400;
  --h1-reg-letter-spacing: 0px;
  --h1-reg-line-height: 80px;
  --h2-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --h2-bold-font-size: 48px;
  --h2-bold-font-style: normal;
  --h2-bold-font-weight: 800;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: 60px;
  --h2-med-font-family: "Plus Jakarta Sans", Helvetica;
  --h2-med-font-size: 48px;
  --h2-med-font-style: normal;
  --h2-med-font-weight: 500;
  --h2-med-letter-spacing: 0px;
  --h2-med-line-height: 60px;
  --h2-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --h2-reg-font-size: 48px;
  --h2-reg-font-style: normal;
  --h2-reg-font-weight: 400;
  --h2-reg-letter-spacing: 0px;
  --h2-reg-line-height: 60px;
  --h3-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --h3-bold-font-size: 36px;
  --h3-bold-font-style: normal;
  --h3-bold-font-weight: 800;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 45px;
  --h3-med-font-family: "Plus Jakarta Sans", Helvetica;
  --h3-med-font-size: 36px;
  --h3-med-font-style: normal;
  --h3-med-font-weight: 500;
  --h3-med-letter-spacing: 0px;
  --h3-med-line-height: 45px;
  --h3-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --h3-reg-font-size: 36px;
  --h3-reg-font-style: normal;
  --h3-reg-font-weight: 400;
  --h3-reg-letter-spacing: 0px;
  --h3-reg-line-height: 45px;
  --h4-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --h4-bold-font-size: 32px;
  --h4-bold-font-style: normal;
  --h4-bold-font-weight: 800;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: 40px;
  --h4-med-font-family: "Plus Jakarta Sans", Helvetica;
  --h4-med-font-size: 32px;
  --h4-med-font-style: normal;
  --h4-med-font-weight: 500;
  --h4-med-letter-spacing: 0px;
  --h4-med-line-height: 40px;
  --h4-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --h4-reg-font-size: 32px;
  --h4-reg-font-style: normal;
  --h4-reg-font-weight: 400;
  --h4-reg-letter-spacing: 0px;
  --h4-reg-line-height: 40px;
  --headline-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --headline-bold-font-size: 24px;
  --headline-bold-font-style: normal;
  --headline-bold-font-weight: 800;
  --headline-bold-letter-spacing: 0px;
  --headline-bold-line-height: 30px;
  --headline-med-font-family: "Plus Jakarta Sans", Helvetica;
  --headline-med-font-size: 24px;
  --headline-med-font-style: normal;
  --headline-med-font-weight: 500;
  --headline-med-letter-spacing: 0px;
  --headline-med-line-height: 30px;
  --headline-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --headline-reg-font-size: 24px;
  --headline-reg-font-style: normal;
  --headline-reg-font-weight: 400;
  --headline-reg-letter-spacing: 0px;
  --headline-reg-line-height: 30px;
  --pijarmahiridathens-gray: rgba(229, 231, 235, 1);
  --pijarmahiridgray-chateau: rgba(149, 159, 170, 1);
  --pijarmahiridouter-space: rgba(47, 53, 59, 1);
  --pijarmahiridwhite: rgba(255, 255, 255, 1);
  --shadow-1: 0px 4px 80px 0px rgba(0, 0, 0, 0.15);
  --subtitle-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --subtitle-bold-font-size: 16px;
  --subtitle-bold-font-style: normal;
  --subtitle-bold-font-weight: 800;
  --subtitle-bold-letter-spacing: 0px;
  --subtitle-bold-line-height: 20px;
  --subtitle-med-font-family: "Plus Jakarta Sans", Helvetica;
  --subtitle-med-font-size: 16px;
  --subtitle-med-font-style: normal;
  --subtitle-med-font-weight: 500;
  --subtitle-med-letter-spacing: 0px;
  --subtitle-med-line-height: 20px;
  --subtitle-reg-font-family: "Plus Jakarta Sans", Helvetica;
  --subtitle-reg-font-size: 16px;
  --subtitle-reg-font-style: normal;
  --subtitle-reg-font-weight: 400;
  --subtitle-reg-letter-spacing: 0px;
  --subtitle-reg-line-height: 20px;
}
