.pembayaran {
    background-color: #ffffff;
    height: 2189px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .navigation-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .pembayaran .navigasi-atas {
    background-color: var(--foundationpijar-bluep300);
    height: 57px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .menu-navbar-atas {
    align-items: center;
    display: inline-flex;
    gap: 32px;
    left: 345px;
    position: relative;
    top: 8px;
  }
  
  .pembayaran .item {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 40px;
    position: relative;
  }
  
  .pembayaran .link-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 8px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .SVG-2 {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .pembayaran .text-wrapper-18 {
    color: var(--pijarmahiridwhite);
    font-family: var(--subtitle-med-font-family);
    font-size: var(--subtitle-med-font-size);
    font-style: var(--subtitle-med-font-style);
    font-weight: var(--subtitle-med-font-weight);
    letter-spacing: var(--subtitle-med-letter-spacing);
    line-height: var(--subtitle-med-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .pembayaran .header {
    background-color: var(--foundationneutraln-0);
    box-shadow: var(--shadow-1);
    height: 78px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .header-2 {
    align-items: center;
    display: inline-flex;
    gap: 68px;
    justify-content: center;
    left: 145px;
    position: relative;
    top: 14px;
  }
  
  .pembayaran .logo-default {
    height: 50px !important;
    position: relative !important;
    width: 81.73px !important;
  }
  
  .pembayaran .menu-search {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
  }
  
  .pembayaran .SVG-3 {
    height: 29px;
    left: 401px;
    position: absolute;
    top: -8px;
    width: 29px;
  }
  
  .pembayaran .menu-text {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 64px;
    position: relative;
  }
  
  .pembayaran .text-wrapper-19 {
    color: var(--pijarmahiridouter-space);
    font-family: var(--subtitle-reg-font-family);
    font-size: var(--subtitle-reg-font-size);
    font-style: var(--subtitle-reg-font-style);
    font-weight: var(--subtitle-reg-font-weight);
    letter-spacing: var(--subtitle-reg-letter-spacing);
    line-height: var(--subtitle-reg-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }
  
  .pembayaran .non-course {
    height: 20px;
    position: relative;
    width: 123px;
  }
  
  .pembayaran .text-wrapper-20 {
    color: var(--pijarmahiridouter-space);
    font-family: var(--subtitle-reg-font-family);
    font-size: var(--subtitle-reg-font-size);
    font-style: var(--subtitle-reg-font-style);
    font-weight: var(--subtitle-reg-font-weight);
    height: 20px;
    left: 0;
    letter-spacing: var(--subtitle-reg-letter-spacing);
    line-height: var(--subtitle-reg-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .pembayaran .non-course-2 {
    height: 20px;
    margin-right: -2px;
    position: relative;
    width: 97px;
  }
  
  .pembayaran .search-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 405px;
  }
  
  .pembayaran .border {
    align-items: center;
    align-self: stretch;
    border: 1px solid;
    border-color: var(--pijarmahiridathens-gray);
    border-radius: 8px;
    display: flex;
    height: 36px;
    overflow: hidden;
    padding: 1px 1px 1px 17px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .input {
    flex: 1;
    flex-grow: 1;
    height: 20px;
    position: relative;
    z-index: 1;
  }
  
  .pembayaran .overlap-group-2 {
    height: 20px;
    position: relative;
    width: 335px;
  }
  
  .pembayaran .container-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 1px;
    width: 331px;
  }
  
  .pembayaran .text-wrapper-21 {
    color: var(--pijarmahiridgray-chateau);
    font-family: var(--caption-reg-font-family);
    font-size: var(--caption-reg-font-size);
    font-style: var(--caption-reg-font-style);
    font-weight: var(--caption-reg-font-weight);
    letter-spacing: var(--caption-reg-letter-spacing);
    line-height: var(--caption-reg-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .pembayaran .container-3 {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 335px;
  }
  
  .pembayaran .margin {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    z-index: 0;
  }
  
  .pembayaran .menu-icon {
    flex: 0 0 auto;
    position: relative;
  }
  
  .pembayaran .frame-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 39.6px -5px #00000040;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    left: 960px;
    padding: 24px;
    position: absolute;
    top: 259px;
    width: 389px;
  }
  
  .pembayaran .frame-8 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    margin-left: -3px;
    margin-right: -3px;
    position: relative;
    width: 347px;
  }
  
  .pembayaran .overlap-group-wrapper {
    height: 47px;
    position: relative;
    width: 347px;
  }
  
  .pembayaran .overlap-group-3 {
    height: 47px;
    position: relative;
  }
  
  .pembayaran .button-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 347px !important;
  }
  
  .pembayaran .frame-9 {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    left: 107px;
    position: absolute;
    top: 9px;
    width: 141px;
    cursor: pointer;
  }
  
  .pembayaran .svgrepo-iconcarrier {
    height: 27.14px;
    margin-bottom: -1px;
    margin-left: -2.83px;
    margin-top: -1px;
    position: relative;
    width: 34px;
  }
  
  .pembayaran .text-wrapper-22 {
    color: var(--foundationpijar-bluep300);
    font-family: var(--big-caption-reg-font-family);
    font-size: var(--big-caption-reg-font-size);
    font-style: var(--big-caption-reg-font-style);
    font-weight: var(--big-caption-reg-font-weight);
    letter-spacing: var(--big-caption-reg-letter-spacing);
    line-height: var(--big-caption-reg-line-height);
    margin-right: -1.83px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .pembayaran .dropdown-instance {
    align-self: stretch !important;
    width: 100% !important;
  }
  
  .pembayaran .frame-10 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 95px;
  }
  
  .pembayaran .text-wrapper-23 {
    align-self: stretch;
    color: var(--foundationneutraln-900);
    font-family: var(--subtitle-bold-font-family);
    font-size: var(--subtitle-bold-font-size);
    font-style: var(--subtitle-bold-font-style);
    font-weight: var(--subtitle-bold-font-weight);
    letter-spacing: var(--subtitle-bold-letter-spacing);
    line-height: var(--subtitle-bold-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .pembayaran .text-wrapper-24 {
    align-self: stretch;
    color: var(--foundationneutraln-900);
    font-family: var(--headline-bold-font-family);
    font-size: var(--headline-bold-font-size);
    font-style: var(--headline-bold-font-style);
    font-weight: var(--headline-bold-font-weight);
    letter-spacing: var(--headline-bold-letter-spacing);
    line-height: var(--headline-bold-line-height);
    position: relative;
  }
  
  .pembayaran .design-component-instance-node {
    align-self: stretch !important;
    display: flex !important;
    width: 100% !important;
  }
  
  .pembayaran .frame-11 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 147px;
    position: absolute;
    top: 168px;
    width: 1200px;
  }
  
  .pembayaran .text-wrapper-25 {
    align-self: stretch;
    color: var(--foundationneutraln-900);
    font-family: var(--body-bold-font-family);
    font-size: var(--body-bold-font-size);
    font-style: var(--body-bold-font-style);
    font-weight: var(--body-bold-font-weight);
    letter-spacing: var(--body-bold-letter-spacing);
    line-height: var(--body-bold-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .pembayaran .text-wrapper-26-1 {
    align-self: stretch;
    color: var(--foundationneutraln-900);
    font-family: var(--big-caption-reg-font-family);
    font-size: var(--big-caption-reg-font-size);
    font-style: var(--big-caption-reg-font-style);
    font-weight: var(--big-caption-reg-font-weight);
    letter-spacing: var(--big-caption-reg-letter-spacing);
    line-height: var(--big-caption-reg-line-height);
    position: relative;
  }
  
  .pembayaran .group-3 {
    height: 404px;
    left: 120px;
    position: absolute;
    top: 485px;
    width: 727px;
  }
  
  .pembayaran .overlap-wrapper {
    height: 404px;
    width: 729px;
  }
  
  .pembayaran .overlap-2 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--shadow-1);
    height: 404px;
    position: relative;
    width: 727px;
    left: 27px;
  }
  
  .pembayaran .frame-12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 23px;
    position: absolute;
    top: 63px;
    width: 670px;
  }
  
  .pembayaran .frame-13-1 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 54px;
    padding: 8px 19px;
    position: relative;
    width: 100%;
  }
  
  .pembayaran .frame-14 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .pembayaran .radio-button-instance {
    border-color: unset !important;
  }
  
  .pembayaran .linkaja-svg {
    height: 38px;
    object-fit: cover;
    position: relative;
    width: 38px;
  }
  
  .pembayaran .group-4-1 {
    background-image: url(https://c.animaapp.com/SIP04sTs/img/group-37221-1.png);
    background-size: 100% 100%;
    height: 54px;
    position: relative;
    width: 670px;
  }
  
  .pembayaran .frame-15 {
    align-items: center;
    display: inline-flex;
    gap: 18px;
    left: 17px;
    position: relative;
    top: 11px;
  }
  
  .pembayaran .img-2 {
    height: 31px;
    object-fit: cover;
    position: relative;
    width: 123px;
  }
  
  .pembayaran .group-5-1 {
    height: 54px;
    position: relative;
    width: 670px;
  }
  
  .pembayaran .overlap-group-4 {
    border-radius: 10px;
    height: 54px;
    position: relative;
  }
  
  .pembayaran .rectangle {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 54px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 670px;
  }
  
  .pembayaran .frame-16 {
    align-items: center;
    display: inline-flex;
    gap: 20px;
    left: 17px;
    position: absolute;
    top: 13px;
  }
  
  .pembayaran .logo-dana-blue-svg {
    height: 28px;
    object-fit: cover;
    position: relative;
    width: 98px;
  }
  
  .pembayaran .frame-17 {
    align-items: center;
    display: flex;
    gap: 20px;
    left: 17px;
    position: absolute;
    top: 15px;
    width: 231px;
  }
  
  .pembayaran .logo-ovo-purple-svg {
    height: 24px;
    object-fit: cover;
    position: relative;
    width: 77px;
  }
  
  .pembayaran .frame-18 {
    align-items: center;
    display: flex;
    gap: 9px;
    height: 54px;
    left: 17px;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .pembayaran .logo-ovo-purple-svg-2 {
    height: 54px;
    position: relative;
    width: 107px;
  }
  
  .pembayaran .text-wrapper-27 {
    color: var(--foundationneutraln-900);
    font-family: var(--big-caption-reg-font-family);
    font-size: var(--big-caption-reg-font-size);
    font-style: var(--big-caption-reg-font-style);
    font-weight: 600;
    height: 17px;
    left: 23px;
    letter-spacing: var(--big-caption-reg-letter-spacing);
    line-height: var(--big-caption-reg-line-height);
    position: absolute;
    top: 17px;
    width: 670px;
  }
  
  .pembayaran .group-6 {
    height: 211px;
    left: 120px;
    position: absolute;
    top: 259px;
    width: 729px;
  }
  
  .pembayaran .overlap-3 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--shadow-1);
    height: 211px;
    position: relative;
    width: 727px;
    left: 27px;
  }
  
  .pembayaran .frame-19 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 17px;
    position: relative;
    top: 11px;
  }
  
  .pembayaran .frame-20 {
    align-items: center;
    display: inline-flex;
    left: 17px;
    position: absolute;
    top: 13px;
  }
  
  .pembayaran .logo-dana-blue-svg-2 {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 132px;
  }
  
  .pembayaran .virtual-account {
    height: 622px;
    left: 120px;
    position: absolute;
    top: 904px;
    width: 727px;
  }
  
  .pembayaran .overlap-4 {
    height: 622px;
    position: relative;
    width: 729px;
  }
  
  .pembayaran .group-7 {
    height: 622px;
    left: 0;
    position: absolute;
    top: 0;
    width: 729px;
  }
  
  .pembayaran .overlap-group-5 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--shadow-1);
    height: 622px;
    position: relative;
    width: 727px;
    left: 27px;
  }
  
  .pembayaran .text-wrapper-28 {
    color: var(--foundationneutraln-900);
    font-family: var(--big-caption-reg-font-family);
    font-size: var(--big-caption-reg-font-size);
    font-style: var(--big-caption-reg-font-style);
    font-weight: var(--big-caption-reg-font-weight);
    height: 26px;
    left: 23px;
    letter-spacing: var(--big-caption-reg-letter-spacing);
    line-height: var(--big-caption-reg-line-height);
    position: absolute;
    top: 26px;
    width: 670px;
  }
  
  .pembayaran .frame-21 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 14px;
    left: 50px;
    position: absolute;
    top: 63px;
    width: 670px;
  }
  
  .pembayaran .frame-22 {
    align-items: center;
    display: inline-flex;
    gap: 19px;
    left: 20px;
    position: absolute;
    top: 11px;
  }
  
  .pembayaran .bank-mandiri-logo {
    height: 31px;
    object-fit: cover;
    position: relative;
    width: 106px;
  }
  
  .pembayaran .frame-23 {
    align-items: center;
    display: inline-flex;
    gap: 18px;
    left: 20px;
    position: absolute;
    top: 11px;
  }
  
  .pembayaran .bank-permata {
    height: 32px;
    object-fit: cover;
    position: relative;
    width: 125px;
  }
  
  .pembayaran .frame-24 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 20px;
    position: absolute;
    top: 11px;
  }
  
  .pembayaran .maybank-PNG {
    height: 32px;
    object-fit: cover;
    position: relative;
    width: 119px;
  }
  
  .pembayaran .frame-25 {
    align-items: center;
    display: inline-flex;
    gap: 18px;
    left: 20px;
    position: absolute;
    top: 13px;
  }
  
  .pembayaran .BNI-logo-svg {
    height: 28px;
    object-fit: cover;
    position: relative;
    width: 95px;
  }
  
  .pembayaran .frame-26 {
    align-items: center;
    display: inline-flex;
    gap: 18px;
    left: 20px;
    position: absolute;
    top: 14px;
  }
  
  .pembayaran .BANK-BRI-logo-svg {
    height: 28px;
    object-fit: cover;
    position: relative;
    width: 120px;
  }
  
  .pembayaran .CIMB-niaga-logo-svg {
    height: 25px;
    object-fit: cover;
    position: relative;
    width: 163px;
  }
  
  .pembayaran .frame-27 {
    align-items: center;
    display: inline-flex;
    gap: 19px;
    left: 20px;
    position: absolute;
    top: 12px;
  }
  
  .pembayaran .element-danamon-svg {
    height: 30px;
    object-fit: cover;
    position: relative;
    width: 119px;
  }
  
  .pembayaran .frame-28 {
    align-items: center;
    display: inline-flex;
    gap: 19px;
    left: 20px;
    position: absolute;
    top: 10px;
  }
  
  .pembayaran .bank-syariah {
    height: 34px;
    object-fit: cover;
    position: relative;
    width: 124px;
  }
  
  .pembayaran .footer-3 {
    left: 0 !important;
    position: absolute !important;
    top: 1632px !important;
    width: 100%;
  }
  
  .pembayaran .footer-4 {
    background-image: url(https://c.animaapp.com/SIP04sTs/img/logo-default-5.svg) !important;
  }
  
  input[type="radio"] {
    width: 20px;
    height: 20px;
    border-color: var(--foundationpijar-bluep300);
  }
  